<div class="col-12">
  <form [formGroup]="form">
    <div class="grid p-fluid">
      <div class="col-12 md:col-12">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-pencil"></i></span>
          <input type="text" pInputText placeholder="Título" formControlName="title">
        </div>
      </div>
      <div class="col-12 md:col-12">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-pencil"></i></span>
          <input type="text" pInputText placeholder="Cuerpo" formControlName="body">
        </div>
      </div>
      <div class="col-12 md:col-12">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-pencil"></i></span>
          <input type="text" pInputText placeholder="Tags" formControlName="tags">
        </div>
      </div>
      <div class="col-12 md:col-12">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-pencil"></i></span>
          <input type="text" pInputText placeholder="Reacciones" formControlName="reactions">
        </div>
      </div>
      <div class="col-12 md:col-12">
        <p-button label="Guardar" type="button" (click)="procesar()"></p-button>
      </div>
    </div>
  </form>
</div>
