<div class="col-12">
  <div class="grid">
    <ng-container *ngFor="let post of posts">
      <div class="col-12 md:col-4">
        <p-panel [header]="post.title" [toggleable]="true">
          <ng-template pTemplate="icons">
            <button pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)">
              <span class="pi pi-cog"></span>
            </button>
            <p-menu #menu id="config_menu" [popup]="true"></p-menu>
          </ng-template>
          <p>{{post.body}}</p>
          <p-divider type="dashed"></p-divider>
          <ng-template pTemplate="">
            <div class="grid flex align-items-center">
              <div class="col-2 md:col-2">
                <i class="pi pi-heart p-text-secondary" pBadge style="font-size: 2rem" value="2"></i>
              </div>
              <div class="col-10 md:col-10 flex justify-content-end">
                <p-chip label="Action" styleClass="ml-2" *ngFor="let tag of post.tags">{{tag}}</p-chip>
              </div>
            </div>
          </ng-template>
        </p-panel>
      </div>
    </ng-container>
  </div>
</div>

<p-scrollTop></p-scrollTop>
