<p-table
  class=""
  #myTable
  [value]="usuarios"
  [lazy]="true"
  (onLazyLoad)="getAllUsers()"
  responsiveLayout="scroll"
  scrollHeight="75vh"
  dataKey="id"
  [loading]="isLoading">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name">Name
        <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="country.name">Country
        <p-sortIcon field="country.name"></p-sortIcon>
      </th>
      <th pSortableColumn="company">Company
        <p-sortIcon field="company"></p-sortIcon>
      </th>
      <th pSortableColumn="representative.name">Representative
        <p-sortIcon field="representative.name"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-customer>
    <tr>
      <td>{{customer['username']}}</td>
      <td>{{customer['email']}}</td>
      <td>{{customer['firstName']}}</td>
      <td>{{customer['lastName']}}</td>
    </tr>
  </ng-template>
</p-table>
