<div class="grid">
  <div class="col-12 justify-content-center">
    <p-card>
      <h5 class="m-0 p-0 mb-3">Login</h5>
      <div class="grid p-fluid">
        <div class="col-12 md:col-12">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" pInputText placeholder="Correo">
          </div>
        </div>
        <div class="col-12 md:col-12">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
            <input type="password" pInputText placeholder="Contraseña">
          </div>
        </div>
        <div class="col-12 md:col-12">
          <p-button label="Ingresar"></p-button>
        </div>
      </div>
    </p-card>
  </div>
</div>
