<div class="grid p-fluid">
  <div class="col-12">
    <form style="">
      <p-card>
        <h5 class="m-0 p-0 mb-3">Registrarse</h5>
        <div class="grid p-fluid">
          <div class="col-12 md:col-12">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-user-edit"></i></span>
              <input type="text" pInputText placeholder="Nombres">
            </div>
          </div>
          <div class="col-12 md:col-12">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-user-edit"></i></span>
              <input type="text" pInputText placeholder="Apellidos">
            </div>
          </div>
          <div class="col-12 md:col-12">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-user-edit"></i></span>
              <input type="text" pInputText placeholder="Edad">
            </div>
          </div>
          <div class="col-12 md:col-12">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">@</span>
              <input type="text" pInputText placeholder="Correo">
            </div>
          </div>
          <div class="col-12 md:col-12">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
              <input type="password" pInputText placeholder="Contraseña">
            </div>
          </div>
          <div class="col-12 md:col-12">
            <p-button label="Registrarse"></p-button>
          </div>
        </div>
      </p-card>
    </form>
  </div>
</div>
